:root {
    --navColor: rgba(0, 104, 74, 1);
    --mainColor: rgba(255, 250, 250, 1);
    --divColor: rgba(250, 250, 250, 1);
    --highlightColor: rgba(64, 145, 108, 1) ;
    --redColor: rgba(221, 37, 37, 1);

    --gr1: rgba(0, 104, 74, 1);
    --gr2: rgba(45, 106, 79, 1);
    --gr3: rgba(64, 145, 108, 1);
    --gr4: rgba(116, 198, 157, 1);
    --gr5: rgba(149, 213, 178, 1);
    --gr6: rgba(183, 228, 199, 1);
}

* {
    font-size: 62.5%;
    font-family: Euclid-C;
}

@font-face {
    font-family: Euclid-C;
    src: url(/public/fonts/euclid-circular-a/Euclid\ Circular\ A\ Light.ttf);
}
@font-face {
    font-family: Inter;
    src: url(/public/fonts/inter/Inter-SemiBold.otf);
}