:root {
    --navColor: #00684a;
    --mainColor: #fffafa;
    --divColor: #379c6d;
    --redColor: #dd2525;
}

* {
    font-size: 62.5%;
    font-family: Euclid-C;
}

@font-face {
    font-family: Euclid-C;
    src: url(/public/fonts/euclid-circular-a/Euclid\ Circular\ A\ Light.ttf);
}