---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
---

<MainLayout>
  <Navbar />

  <main>
    <div class="portfolio">
      <div class="stats">
        <div class="portfolio-title">
          <h1>Portfolio</h1>

          <div class="money">
            <div class="balance">
              <h2>Balance</h2>
              <h3>£1035.66</h3>
            </div>

            <div class="growth">
              <h2>Growth</h2>
              <h3>+375%</h3>
            </div>
          </div>
        </div>

        <canvas id="myChart"></canvas>
      </div>
    </div>
  </main>
</MainLayout>

<style>
  main {
    .portfolio {
      width: 35vw;
      height: 90vh;
      padding: 20px;
      margin: 2.5vh 0 0 2.5vh;
      border-radius: 60px;
      background-color: var(--divColor);

      display: flex;
      justify-content: center;

      .stats {
        
        .portfolio-title {


          h1 {
            font-size: 3.5rem;
            /* font-family: Inter; */
          }

          .money {
            display: flex;
            justify-content: left;
            gap: 45%;

            margin-bottom: 3rem;

            .balance {
              
            }
            .growth {
  
            }

            h2 {
              font-size: 2rem;
              margin: 0;
            }
            h3 {
              font-size: 1.5rem;
              margin: 0;
            }

          }

        }

        #myChart {
          max-width: 30vw;
          max-height: 40vh;
          min-width: 30vw;
          min-height: 40vh;

          /* aspect-ratio: 1/1; */
        }
      }
    }

  }
</style>

<script>
  const gr1 = "#1B4332";
  const gr2 = "#00684a";
  const gr3 = "#40916C";
  const gr4 = "#52B788";
  const gr5 = "#74C69D";
  const gr6 = "#95D5B2";
  const gr7 = "#D8F3DC";

  import Chart from "chart.js/auto";

  const ctx = document.getElementById(`myChart`) as HTMLCanvasElement;

  new Chart(ctx, {
    type: "doughnut",
    data: {
      labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
      datasets: [
        {
          backgroundColor: [gr1, gr2, gr3, gr4, gr5, gr6, gr7],
          label: "# of Votes",
          data: [12, 19, 3, 5, 2, 3],
          borderWidth: 1,
        },
      ],
    },
    options: {
      animation: {
        duration: 2000,
      },

      cutout: "70%",

      plugins: {
        legend: {
          display: false,
        },
        tooltip: {
          // enabled: false,
        },
      },

      scales: {
        x: {
          display: false,
        },

        y: {
          display: false,
          beginAtZero: true,
        },
      },
    },

    plugins: [
      {
        beforeDraw: (chart) => {
          const ctx = chart.ctx;
          const x =
            chart.chartArea.left +
            (chart.chartArea.right - chart.chartArea.left) / 2;
          const y =
            chart.chartArea.top +
            (chart.chartArea.bottom - chart.chartArea.top) / 2;

          ctx.save();
          ctx.font = "bold 20px Arial"; // Font settings
          ctx.textAlign = "center";
          ctx.textBaseline = "middle";
          ctx.fillStyle = "black"; // Text color
          ctx.fillText("", x, y); // Replace 'Center Text' with your desired text
          ctx.restore();
        },
        id: "",
      },
    ],
  });
</script>
